{% extends 'base.html' %}
{% load static %}

{# Home page of the application #}

{% block title %}
    SWODoc - Home
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="../../static/tailwind/index.css">
{% endblock %}

{% block navigation %}
    {% include 'components/navbar.html' %}
{% endblock %}

{% block content %}
    <div class="showcase">
        <!-- start of splash jumbotron -->
        <div class="jumbotron pt-8 md:pt-24 welcome">
            <div class="jumbotron-heading">
                WELCOME TO
            </div>
            <div class="jumbotron-body font-righteous text-3xl md:text-4xl">
                STUDENT WELFARE OFFICE DEVELOPERS
                <br>
                MNNIT ALLAHABAD
            </div>
            <div class="jumbotron-footer">
                <button class="jumbotron-button">
                    JOIN US
                </button>
                <button class="jumbotron-button">
                    ABOUT US
                </button>
            </div>
        </div>
        <!-- end of splash jumbotron -->
        <!-- start of about us jumbotron -->
        <div id="aboutus" class="jumbotron md:mt-20">
            <div class="jumbotron-heading text-center">
                ABOUT US
            </div>
            <div class="jumbotron-body">
                <div class="about-flex">
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'web/img/website.svg' %}"
                                 alt="Website Design and Development"
                                 class="showcase-img"
                            >
                        </div>
                        <div class="card-subtitle">
                            Web Design and Development
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'web/img/backend.svg' %}"
                                 alt="Backend Development"
                                 class="showcase-img"
                            >
                        </div>
                        <div class="card-subtitle">
                            Backend Development
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-image">
                            <img src="{% static 'web/img/mobile.svg' %}"
                                 alt="Mobile Applications"
                                 class="showcase-img"
                            >
                        </div>
                        <div class="card-subtitle">
                            Mobile Applications
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end of about us jumbotron -->
    </div>
{% endblock %}