{% load static %}
{% include 'base.html' %}

{# Home page of the application #}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'web/css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="showcase mt-5">
        <div class="jumbotron w-10/12 mx-auto rounded-xl pb-4 pt-8 px-8 text-white md:px-24 md:w-9/12 md:pt-24 md:pb-8">
            <div class="jumbotron-heading text-2xl md:text-3xl">
                WELCOME TO
            </div>
            <div class="jumbotron-body font-righteous text-3xl md:text-4xl">
                STUDENT WELFARE OFFICE DEVELOPERS
                <br>
                MNNIT ALLAHABAD
            </div>
            <div class="jumbotron-footer flex py-8 flex-col items-center md:flex-row md:mt-16 md:justify-around">
                <button class="jumbotron-button border mb-3 w-32 px-4 py-0.5 rounded-sm md:mb-0 hover:bg-darkyellow">
                    JOIN US
                </button>
                <button class="jumbotron-button border w-32 px-4 py-0.5 rounded-sm hover:bg-darkyellow">
                    ABOUT US
                </button>
            </div>
        </div>
        <div>
            <div class="jumbotron-heading">
                ABOUT US
            </div>
            <div class="jumbotron-body">

            </div>
        </div>
    </div>
{% endblock %}