{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../../static/tailwind/style.css">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'web/css/fonts.css' %}">
    {% block stylesheets %}
    {% endblock %}
    <title>
        {% block title %}
        {% endblock %}
    </title>
    {% block headblock %}
    {% endblock %}
</head>
<body>
{% block navigation%}
{% endblock %}
<div class="body">
    {% block content %}
    {% endblock %}
</div>
<script type="text/javascript"
        src="{% static 'web/js/script.js' %}"></script>
{% block scripts %}
{% endblock %}
</body>
</html>